In [5]:
tableNum = int(input('Enter a table number: '))

for num in range(1,10):
    print(f'{tableNum} * {num} = {tableNum * num}')

Enter a table number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [13]:
for num in range (0,25,2):
    print (num, end= " ")

0 2 4 6 8 10 12 14 16 18 20 22 24

In [14]:
for num in range (25,0,-1):
    print (num, end= " ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [15]:
for num in range (1,25,2):
    print (num, end= " ")

1 3 5 7 9 11 13 15 17 19 21 23

In [18]:
for num in range (10 ):
    print (num, end= " ")

0 1 2 3 4 5 6 7 8 9

In [21]:
tableNum = int(input('Enter a table number: '))

for num in range(1,14):
    if num % 2 == 0:
        continue
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Enter a table number: 2
2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
2 * 7 = 14
2 * 9 = 18
2 * 11 = 22
2 * 13 = 26

In [24]:
tableNum = int(input('Enter a table number: '))

for num in range(1,14):
    if num % 2 == 0:
        break
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Enter a table number: 5
5 * 1 = 5

In [26]:
Best_friends = []
for num

SyntaxError: invalid syntax (<ipython-input-26-5e6a131ca5ab>, line 2)