# For Loop

In [ ]:
students= ['hamza','wajahat','talha','saqib']

In [ ]:
print(students)

In [ ]:
students

In [ ]:
for student in students:
    print(student)

In [2]:
for student in students:
    if student == 'saqib':
        print(f'{student} bahar jao')
    else:
        print(f'{student} andar ajao')

NameError: name 'students' is not defined

In [ ]:
for a in 'PAKISTAN':
    print (a, end = ' ')

In [3]:
for num in range(10):
    print (num, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
for num in range(1,10):
    print (num, end = ' ')

1 2 3 4 5 6 7 8 9

In [2]:
tableNum = int(input('Enter a table number: '))
for num in range(1,10):
    print(f'{tableNum} * {num} = {tableNum * num}')

Enter a table number: 23432
23432 * 1 = 23432
23432 * 2 = 46864
23432 * 3 = 70296
23432 * 4 = 93728
23432 * 5 = 117160
23432 * 6 = 140592
23432 * 7 = 164024
23432 * 8 = 187456
23432 * 9 = 210888

In [6]:
for num in range (0,25,2):
    print (num, end= " ")

0 2 4 6 8 10 12 14 16 18 20 22 24

In [7]:
tableNum = int(input('Enter a table number: '))

for num in range(1,10):
    if num % 2 == 0:
        continue
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Enter a table number: 8
8 * 1 = 8
8 * 3 = 24
8 * 5 = 40
8 * 7 = 56
8 * 9 = 72

In [8]:
tableNum = int(input('Enter a table number: '))

for num in range(1,14):
    if num % 2 == 0:
        break
    else:
        print(f'{tableNum} * {num} = {tableNum * num}')

Enter a table number: 7
7 * 1 = 7

In [1]:
Best_friends = []
for num in range(3):
    name = input("enter your friends name:")
    if name.startswith('a'):
        Best_friends.append(name)
Best_friends

enter your friends name:ali
enter your friends name:wajahat
enter your friends name:talha

['ali']

In [8]:
for a in [1,2,3,4]:
    for b in 'ALIYAN':
        print(a,b , end = ' ')

1 A 1 L 1 I 1 Y 1 A 1 N 2 A 2 L 2 I 2 Y 2 A 2 N 3 A 3 L 3 I 3 Y 3 A 3 N 4 A 4 L 4 I 4 Y 4 A 4 N

In [15]:
for num in range(1,11):
    for b in range (11):
        print(f'{num} * {b} = {num * b}')

1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100