# Dictionaries

In [10]:
#dictionary works on key value pair

In [2]:
my_dictionary={}

In [3]:
type (my_dictionary)

dict

In [4]:
len(my_dictionary)

0

In [5]:
my_dictionary={'name':"Aliyan"}
#               key  : value

In [6]:
my_dictionary ['name']

'Aliyan'

In [7]:
my_dictionary[100]="hello world"

In [8]:
my_dictionary

{'name': 'Aliyan', 100: 'hello world'}

In [9]:
my_dictionary={'name':"Aliyan", 'age':"18"}

In [10]:
my_dictionary

{'name': 'Aliyan', 'age': '18'}

In [11]:
# keys ()
# values ()
# items ()

In [12]:
for k in my_dictionary.keys():
    print(k)

name
age

In [13]:
for k,v in my_dictionary.items():
    print(k, v)

name Aliyan
age 18

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [14]:
100 in [1,2,3,4,5,100]

True

In [15]:
my_dictionary={'name':"Aliyan"}

In [52]:
'name' in my_dictionary

True

# list in list

In [53]:
a = [1,2,3,4]
b = [5,6,7,8]
c= [22,33,44,55,a,b]
c

[22, 33, 44, 55, [1, 2, 3, 4], [5, 6, 7, 8]]

In [54]:
c[5][2]

7

# tupple in list

In [55]:
a = 1,2,3,4,5,6
b=2,4,6,8
c=[1,2,a,b]
c

[1, 2, (1, 2, 3, 4, 5, 6), (2, 4, 6, 8)]

In [56]:
c[3][0]

2

In [57]:
c= [22,33,44,55,a,b]

# dictionary in list

In [60]:
alist = [11,22,33,my_dictionary]
alist

[11, 22, 33, {'name': 'Aliyan'}]

In [61]:
alist[3]['name']

'Aliyan'


# dictionary in dictionary

In [64]:
adict = {'name':"pakistan", 'ages':my_dictionary}
adict

{'name': 'pakistan', 'ages': {'name': 'Aliyan'}}

In [65]:
adict['ages']['name']

'Aliyan'

# tupple in dictionary

In [75]:
my_dictionary={'name':'Aliyan'}

In [76]:
a=[]
a.append(my_dictionary)

In [77]:
a

[{'name': 'Aliyan'}]

In [1]:
a = 1,2,3,4
b = a,5,6,7,8
b

((1, 2, 3, 4), 5, 6, 7, 8)